.sections, .header, .mainIndex, .mainBiblioteca, .mainComics, .mainPersonajes, .mainCharacter, .mainContacto, .mainInfo, .footer {
  margin: 0 auto; }

.paddingReset, .mainIndex .second_container .container-fluid, .mainIndex .second_container .container-fluid .row .col-12, .mainBiblioteca .second_container .container-fluid, .mainBiblioteca .second_container .container-fluid .row .colGallery, .mainComics .second_container .container-fluid, .mainComics .second_container .container-fluid .row .colGallery, .mainPersonajes .second_container .container-fluid, .mainPersonajes .second_container .container-fluid .row .colGallery, .mainCharacter .second_container .container-fluid, .mainCharacter .second_container .container-fluid .row .colGallery {
  padding: 0; }

.marginReset, .mainIndex .second_container .container-fluid .row, .mainBiblioteca .second_container .container-fluid .row, .mainComics .second_container .container-fluid .row, .mainPersonajes .second_container .container-fluid .row, .mainCharacter .second_container .container-fluid .row {
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  max-height: none;
  background-image: url("../img/background-body.jpg");
  background-repeat: repeat; }

.first_container {
  height: 25.2vh;
  background-color: rgba(51, 56, 60, 0.95);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Bubblegum Sans', cursive; }
  .first_container .container-fluid {
    height: 100%;
    padding: 0; }
    .first_container .container-fluid .row {
      height: 100%;
      margin: 0; }
      .first_container .container-fluid .row .logoContainer {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2); }
      .first_container .container-fluid .row .titleContainer {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

.second_container {
  min-height: 58.8vh;
  background-color: rgba(255, 255, 255, 0.9); }

@media (min-width: 1440px) {
  .first_container .h1 {
    font-size: 3.5rem; }
  .first_container .h6 {
    font-size: 1.5rem; } }

.header {
  min-height: 10vh;
  font-size: 1.3vw;
  border-top: none;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2); }
  .header nav {
    min-height: 10vh; }

.navbar-nav {
  margin: 0 auto; }

@media (max-width: 991px) {
  .header {
    font-size: 2vw; } }

@media (max-width: 425px) {
  .header {
    font-size: 4vw; } }

@media (max-width: 768px) {
  .header {
    border: none; } }

@media (min-width: 1024px) {
  .header {
    font-size: 1rem; } }

@media (min-width: 1440px) {
  .header {
    font-size: 1.5rem; } }

.mainIndex {
  min-height: 84vh; }
  .mainIndex .second_container {
    height: 58.8vh; }
    .mainIndex .second_container .container-fluid {
      height: 100%; }
      .mainIndex .second_container .container-fluid .row {
        height: 100%; }
        .mainIndex .second_container .container-fluid .row .col-12 {
          display: flex;
          justify-content: center;
          align-items: center; }
          .mainIndex .second_container .container-fluid .row .col-12 .darkBackground {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            cursor: pointer;
            color: white;
            background-color: rgba(48, 48, 48, 0.8);
            transition: background-color 0.8s; }
            .mainIndex .second_container .container-fluid .row .col-12 .darkBackground:hover {
              background-color: rgba(0, 0, 0, 0.9); }
      .mainIndex .second_container .container-fluid .bibliotecaBackground {
        background: url("../img/fir_img.jpg"); }
      .mainIndex .second_container .container-fluid .personajesBackground {
        background: url("../img/sec_img.jpg"); }
      .mainIndex .second_container .container-fluid .contactoBackground {
        background: url("../img/thi_img.jpg"); }
      .mainIndex .second_container .container-fluid .infoBackground {
        background: url("../img/fou_img.jpg"); }

@media (max-width: 425px) {
  .first_container {
    height: 40vh; }
    .first_container .logoContainer {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .second_container {
    height: 44vh; } }

.mainBiblioteca {
  min-height: 84vh; }
  .mainBiblioteca .second_container {
    min-height: 58.8vh;
    height: auto; }
    .mainBiblioteca .second_container .container-fluid {
      height: 100%; }
      .mainBiblioteca .second_container .container-fluid .row .colGallery {
        height: 70vh;
        border: 1px solid rgba(0, 0, 0, 0.2); }
        .mainBiblioteca .second_container .container-fluid .row .colGallery figure {
          height: 100%; }
          .mainBiblioteca .second_container .container-fluid .row .colGallery figure img {
            height: 92%;
            width: 100%;
            filter: grayscale(100%);
            transition: filter 0.8s; }
            .mainBiblioteca .second_container .container-fluid .row .colGallery figure img:hover {
              filter: grayscale(0%); }
          .mainBiblioteca .second_container .container-fluid .row .colGallery figure figcaption {
            height: 8%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(48, 48, 48, 0.6);
            color: white; }

@media (max-width: 425px) {
  .first_container {
    height: 40vh; }
    .first_container .logoContainer {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }

.mainComics {
  min-height: 84vh; }
  .mainComics .second_container {
    min-height: 58.8vh;
    height: auto; }
    .mainComics .second_container .container-fluid {
      height: 100%; }
      .mainComics .second_container .container-fluid .row .colGallery {
        border: 1px solid rgba(0, 0, 0, 0.2); }
        .mainComics .second_container .container-fluid .row .colGallery .portada {
          height: 100%; }
          .mainComics .second_container .container-fluid .row .colGallery .portada img {
            height: 92%;
            width: 100%;
            filter: grayscale(100%);
            transition: filter 0.8s; }
            .mainComics .second_container .container-fluid .row .colGallery .portada img:hover {
              filter: grayscale(0%); }
          .mainComics .second_container .container-fluid .row .colGallery .portada figcaption {
            height: 8%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(48, 48, 48, 0.6);
            color: white; }
      .mainComics .second_container .container-fluid .row .comicExplainContainer {
        display: flex;
        align-content: center;
        min-height: 70vh;
        height: auto; }
        .mainComics .second_container .container-fluid .row .comicExplainContainer .article {
          height: auto;
          width: 90%;
          margin: 4vh auto; }
          .mainComics .second_container .container-fluid .row .comicExplainContainer .article p {
            margin: 1rem 0 1rem 0; }

@media (min-width: 1440px) {
  .article .h2 {
    font-size: 2.5rem; }
  .article p {
    font-size: 1.5rem; } }

.mainPersonajes {
  min-height: 84vh; }
  .mainPersonajes .second_container {
    min-height: 58.8vh;
    height: auto; }
    .mainPersonajes .second_container .container-fluid {
      height: 100%; }
      .mainPersonajes .second_container .container-fluid .row .colGallery {
        height: 70vh;
        border: 1px solid rgba(0, 0, 0, 0.2); }
        .mainPersonajes .second_container .container-fluid .row .colGallery figure {
          height: 100%; }
          .mainPersonajes .second_container .container-fluid .row .colGallery figure img {
            height: 92%;
            width: 100%;
            filter: grayscale(100%);
            transition: filter 0.8s; }
            .mainPersonajes .second_container .container-fluid .row .colGallery figure img:hover {
              filter: grayscale(0%); }
          .mainPersonajes .second_container .container-fluid .row .colGallery figure figcaption {
            height: 8%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(48, 48, 48, 0.6);
            color: white; }

@media (max-width: 425px) {
  .first_container {
    height: 40vh; }
    .first_container .logoContainer {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }

.mainCharacter {
  min-height: 84vh; }
  .mainCharacter .second_container {
    min-height: 58.8vh;
    height: auto; }
    .mainCharacter .second_container .container-fluid {
      height: 100%; }
      .mainCharacter .second_container .container-fluid .row .colGallery {
        border: 1px solid rgba(0, 0, 0, 0.2); }
      .mainCharacter .second_container .container-fluid .row .characterLeftContainer {
        display: flex;
        align-items: center;
        height: auto;
        border: none; }
        .mainCharacter .second_container .container-fluid .row .characterLeftContainer .portada img {
          height: 100%;
          width: 100%; }
        .mainCharacter .second_container .container-fluid .row .characterLeftContainer .portadaDescription {
          height: auto;
          margin: 4vh 0; }
          .mainCharacter .second_container .container-fluid .row .characterLeftContainer .portadaDescription .article {
            height: auto;
            width: 90%;
            margin: 4vh auto; }
            .mainCharacter .second_container .container-fluid .row .characterLeftContainer .portadaDescription .article p {
              margin: 1rem 0 1rem 0; }
      .mainCharacter .second_container .container-fluid .row .characterRightContainer {
        display: flex;
        align-items: center; }
        .mainCharacter .second_container .container-fluid .row .characterRightContainer .article {
          height: auto;
          width: 90%;
          margin: 4vh auto; }
          .mainCharacter .second_container .container-fluid .row .characterRightContainer .article p {
            margin: 1rem 0 1rem 0; }

@media (min-width: 320px) {
  .characterLeftContainer {
    flex-direction: column; }
    .characterLeftContainer .portada {
      width: 100%; }
    .characterLeftContainer .portadaDescription {
      width: 100%; } }

@media (min-width: 768px) {
  .characterLeftContainer {
    flex-direction: row; }
    .characterLeftContainer .portada {
      width: 30%;
      height: 100%; }
    .characterLeftContainer .portadaDescription {
      width: 70%; } }

.mainContacto {
  min-height: 84vh; }
  .mainContacto .first_container {
    height: 25.2vh; }
  .mainContacto .second_container {
    min-height: 58.8vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainContacto .second_container article {
      height: 90%;
      width: 90%;
      margin: 0 auto;
      padding: 4vh 0; }

.mainInfo {
  min-height: 84vh; }
  .mainInfo .first_container {
    height: 25.2vh; }
  .mainInfo .second_container {
    min-height: 58.8vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainInfo .second_container article {
      height: 90%;
      width: 90%;
      margin: 4vh auto;
      padding: 4vh 0; }

.footer {
  min-height: 6vh;
  margin: 0 auto;
  background-color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer a {
    text-decoration: none;
    color: #d8d8d8; }
    .footer a:hover {
      color: white; }
  .footer span {
    color: #b6b3b3; }
