.mainComics {
    min-height: 84vh;
    @extend .sections;
    .second_container {
        min-height: 58.8vh;
        height: auto;
        .container-fluid {
            height: 100%;
            @extend .paddingReset;
            .row {
                @extend .marginReset;
                .colGallery {
                    border: 1px solid rgba(0, 0, 0, 0.20);
                    @extend .paddingReset;
                    .portada {
                        height: 100%;
                        img {
                            height: 92%;
                            width: 100%;
                            filter: grayscale(100%);
                            transition: filter 0.8s;
                            &:hover {
                                filter: grayscale(0%);
                            }
                        }
                        figcaption {
                            height: 8%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(48, 48, 48, 0.60);
                            color: white;
                        }
                    }
                }
                .comicExplainContainer {
                    display: flex;
                    align-content: center;
                    min-height: 70vh;
                    height: auto;
                    .article {
                        height: auto;
                        width: 90%;
                        margin: 4vh auto;
                        p {
                            margin: 1rem 0 1rem 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .article {
        .h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}