.footer {
    min-height: 6vh;
    @extend .sections;
    margin: 0 auto;
    background-color: rgba(44, 44, 44, 0.904);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: rgb(216, 216, 216);
        &:hover {
            color: white;
        }
    }
    span {
        color: rgb(182, 179, 179);
    }
}