* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-height: none;
}

.first_container {
    height: 25.8vh;
}

.second_container {
    min-height: 60.2vh;
}