* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-height: none;
    background-image: url("../img/background-body.jpg");
    background-repeat: repeat;
}

.first_container {
    height: 25.2vh;
}

.second_container {
    min-height: 58.8vh;
}