.header {
    min-height: 10vh;
    font-size: 1.3vw;
    @extend .sections;
    border-top: none;
    border-right: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    nav {
        min-height: 10vh;
    }
}

@media (max-width: 991px) {
    .header {
        font-size: 2vw;
    }
}

@media (max-width: 425px) {
    .header {
        font-size: 4vw;
    }
}